.jumbotron{
    text-align: center;
    background: none;
}
.sectionLight{
    background-color: #eceeef;
    padding: 2rem;
}
.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}
.coolStuffWrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
button.coolStuffBtn{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.contentLabel{
    margin: auto;
}

.modalFormWrapper{
padding: 2rem;
}
.imgCenter{
    display: block;
    margin: auto;
}

button.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}

.footerImg{
    padding: 15px;
}
